<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Lawyers</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let lawyers of allLawyers) { %>
          <a href="/lawyers/<%=lawyers._id%>" class="lawyer-link">
            <div class="card col" >
                <img src="<%=lawyers.image%>" class="card-img-top" alt="lawyer_image" style="height:18rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= lawyers.name %> <br></b>
                    <%= lawyers.specialization %>
                  </p>
                </div>
              </div>
            </a>
        <% } %>
    </div>
</body>